body {
    background-image: url('https://d1lfxha3ugu3d4.cloudfront.net/images/opencollection/objects/size4/08.491.8679_08.491.8683.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto auto;
}

.header {
    padding: 80px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    color: rgb(255, 255, 255);
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}


/* Style the top navigation bar */

.navbar {
    overflow: hidden;
    /* Hide overflow */
    background-color: rgb(39, 39, 39);
    /* Dark background color */
}


/* Style the navigation bar links */

.navbar a {
    float: left;
    /* Make sure that the links stay side-by-side */
    display: block;
    /* Change the display to block, for responsive reasons (see below) */
    color: white;
    /* White text color */
    text-align: center;
    /* Center the text */
    padding: 14px 20px;
    /* Add some padding */
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    /* Remove underline */
}


/* Right-aligned link */

.navbar a.right {
    float: right;
    /* Float a link to the right */
}


/* Change color on hover/mouse-over */

.navbar a:hover {
    background-color: #ddd;
    /* Grey background color */
    color: black;
    /* Black text color */
}


/* Create two unequal columns that float next to each other */


/* Left column */

.leftcolumn {
    float: left;
    width: 70%;
    padding-left: 27px;
}


/* Right column */

.rightcolumn {
    float: right;
    width: 25%;
    /*padding-left: 10px;*/
}


/* Fake image */

.fakeimg {
    background-color: #aaa;
    width: 90%;
    padding: 20px;
}


/* Add a card effect for articles */

.card {
    background-color: rgb(98, 98, 98);
    padding: 20px;
    margin-top: 20px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}