
@{
    ViewBag.Title = "Downloads";
}

@section scripts{
    <script src='~/Scripts/dow.js'></script>
}

<div class='wrap'>
    <p>Some files for you</p>
    <div class='tile'>
        <a id='player' href='' target=''>-- SMF-Player -- Written in Python -- 06/2020</a>
        <a id='meno' href='' target=''>-- Me, Myself and I -- Summer 2020</a>
        <a id='walls' href='' target=''>-- Some cool wallpapers --</a>
    </div>
</div>
