
@{
    ViewBag.Title = "Gallery";
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.6.1/galleria.min.js"></script>
    <script src="~/Scripts/gal.js"></script>
}

<div class="galleria">
    <img src="~/Images/profile.jpg">
    <img src="~/Images/avatar.jpg">
    <img src="~/Images/roman.jpg">
    <img src="~/Images/wall.jpg">
    <img src="~/Images/wall1.png">
</div>

