
@{
    ViewBag.Title = "Main";
}

@section scripts{
    <script src="~/Scripts/funky.js"></script>
}

<div class="wrap">
    <div class="rightcolumn">
        <div class="card">
            <p>Hi my name is blank and I play volleyball. My main hobbies include repairing and building electronics. That's all folks.</p>
        </div>
    </div>
    <div class="leftcolumn">

        <img id="showroom" src="~/Images/avatar.jpg" class="center">

    </div>
</div>




