1. Клас Касиер – съхранява информация за идентификационен номер и име на касиера; (/Yes)

2. Клас Стока, която ще се продава в магазин – съхранява идентификационен номер, име, единична цена на стоката и срок на годност; (/Yes)

3. Клас Каса в магазин – съхранява информация за това кой касиер работи в момента на тази каса. На касата клиентите в магазина плащат за закупените стоки и получават касова бележка. (/Yes) 

4. Клас Касовата бележка трябва да съдържа минимум следната информация: пореден номер (/Yes), касиер, който издава касовата бележка (/Yes),
дата и час на издаване на касовата бележка (/Yes), списък със стоки, които се включват в касовата бележка включително цената и количеството им (/Yes). 
Необходимо е да се съхранява общия брой на издадените касови бележки до момента (//NO) и общата сума, която се генерира като оборот при издаването (/Yes/). 
При издаването на касовата бележка е необходимо нейното съдържание да се показва и да се запазва във файл (/Yes). 
Всяка касова бележка трябва да се пази в отделен файл с име на файла, което да съдържа поредния номер на издадената касова бележка (/Yes). 
Трябва да може да се провери колко са издадените касови бележки към момента(Yes). Информацията във файла, в който се записва касовата бележка трябва да може да се прочете(Yes). 

5. Клас Магазин – съхранява информация за списък със стоки, които се продават в магазина (Yes), списък с касиери (Yes), които работят в магазина и брой на издадените касови бележки. 
В магазина трябва да се доставят стоки, които след това ще се продават(Yes). Трябва да може да се осъществи продажбата на стока, ако има достатъчно налично количество от нея в магазина(Yes). 
Във всеки един момент трябва да може да се провери колко е общия оборот на магазина към момента(Yes). 

Изисквания към реализацията: 
1. При продажба на стока, да се проверява дали има достатъчно налично количество от нея(Yes). Ако количеството не е достатъчно да се хвърля изключение(Almost). 
Изключението да показва от коя стока какво количество не достига, за да се извърши покупката(Yes). 

2. В магазина всички каси работят паралелно. Да се осъществи работата на касите в отделни нишки. 
Да се показва информация за това кой касиер работи на касата в момента и общата стойност на всяка издадена касова бележка. (TODO/)

3. Приложението трябва да бъде разработено на Java и да позволява данните и да изпълнява изискванията, които са описани по-горе. (Yep)